:root{
 font-family: 'Epilogue';
 --Almost-White: hsl(0, 0%, 98%);
 --Medium-Gray: hsl(0, 0%, 41%);
 --Almost-Black: hsl(0, 0%, 8%);
}
body { background-color: var(--Almost-White);}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.navbar {display: flex; align-items: center; justify-content: space-between;}
.left-nav-icons { display: flex; align-items: center; justify-content: center; gap:3vw;}
.left-nav-img {
    margin-left: 3vw;
}
.left-nav-content {
    list-style-type: none; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    gap: 5vw;
    color: var(--Almost-Black);

}

.features-dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 2vh 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -4.5vw;
  top: 3vh;
}

a {
    text-decoration: none;
    color: var(--Almost-Black);
}
.right-nav-icons{
    display: flex; align-items: center; justify-content: center; margin-right: 3vw;

}
.right-nav-content {
    list-style-type: none;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    gap: 5vw;
    color: var(--Almost-Black);

}
#register {
    border: solid 1px var(--Almost-Black);
    padding: 9px 22px;
    border-radius: 10px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.8);
}

#register:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

#register:active {
    transform: translateY(5px);
    transition: all 0.1s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.content-container{ 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 50px 130px;
    gap: 10vw;

}
.left-side-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 30px;

}
#desktop-hero {
    width: 40vw;
    height: auto;
    max-width: 350px;
    max-height: auto;
}

h1 {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    color: var(--Almost-Black);
}
#learn-more {
    width: 120px;
    padding: 9px 20px;
    border: 1px solid var(--Almost-Black);
    border-radius: 10px;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
}

#learn-more:hover {
    cursor: pointer;
}
#learn-more:active {
    background-color: var(--Almost-White);
    border: 1px solid var(--Almost-Black);
    color: var(--Almost-Black);
}

.sponsor-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
