:root{
 font-family: 'Epilogue';
 --Almost-White: hsl(0, 0%, 98%);
 --Medium-Gray: hsl(0, 0%, 41%);
 --Almost-Black: hsl(0, 0%, 8%);
 
}

 * {
    border: black solid 0px;
}

@media only screen and (min-width: 850px) and (max-width: 2160px) {
body { background-color: var(--Almost-White);}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.navbar {display: flex; align-items: center; justify-content: space-between;}
.left-nav-icons { display: flex; align-items: center; justify-content: center; gap:5px;}
.left-nav-img {
    margin-left: 30px;
}
#close-menu {display:none;}
#desktop-hero-mobile {display:none; z-index:-2;}
#mobile-login {display:none; z-index:-2;}
#mobile-register {display:none; z-index:-2;}
#menu-dropdown {display:none; z-index:-2;}
.mobile-logo {
    display:none;
    z-index: -1;
}
.left-nav-content {
    list-style-type: none; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    gap: 40px;
    color: var(--Almost-Black);

}

.features-dropdown {
    position: relative;
    display: inline-block;

}
.dropdown-contents-container {
    display: none;

}
#features {
    cursor: pointer;
} 


.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  padding: 20px 20px;
  position: absolute;
  background-color: var(--Almost-White);
  min-width: 100px;
  box-shadow: 0 0 16px 5px rgba(0,0,0,0.2);
  z-index: 1;
  left: -45px;
  top: 30px;
  border-radius: 10px;
}

.company-dropdown {
    position: relative;
    display: inline-block;

}
.company-dropdown-container {
    display: none;

}
#company {
    cursor: pointer;
} 


.company-dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  padding: 20px 12px;
  position: absolute;
  background-color: var(--Almost-White);
  min-width: 80px;
  box-shadow: 0 0 16px 5px rgba(0,0,0,0.2);
  z-index: 1;
  top: 30px;
  border-radius: 10px;
}

a {
    text-decoration: none;
    color: var(--Almost-Black);
    
}
#myDropdownContainer > a {
    font-size: 18px;
}
.right-nav-icons{
    display: flex; align-items: center; justify-content: center; margin-right: 3vw;

}
.right-nav-content {
    list-style-type: none;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    gap: 5vw;
    color: var(--Almost-Black);

}
#register {
    border: solid 1px var(--Almost-Black);
    padding: 9px 22px;
    border-radius: 10px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.8);
}

#register:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

#register:active {
    transform: translateY(5px);
    transition: all 0.1s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.content-container{ 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 150px 130px;
    gap: 10vw;
    

}
.left-side-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 30px;

}
.left-side-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 30px;
}
#desktop-hero {
    width: 35vw;
    height: auto;
    max-height: auto;
    min-width: 350px;
}

h1 {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    color: var(--Almost-Black);
}
#learn-more {
    width: 120px;
    padding: 9px 20px;
    border: 1px solid var(--Almost-Black);
    border-radius: 10px;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
}

#learn-more:hover {
    cursor: pointer;
}
#learn-more:active {
    background-color: var(--Almost-White);
    border: 1px solid var(--Almost-Black);
    color: var(--Almost-Black);
    transition: all 0.05s ease;
}

.sponsor-logos {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    margin-top: 40px;
}
}

@media only screen and (min-width: 300px) and (max-width: 849px) {
    body { background-color: var(--Almost-White); margin: 0;}
    .left-nav-img {display: none; z-index:-2;}
    .right-nav-icons {display: none; z-index:-2;}
    

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .mobile-logo{
        padding:20px 15px;

    }

    .full-mobile-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;

    }
    #menu-dropdown {
        width: 30px;
        position: absolute;
        top: 20px;
        right:25px;
    }

    #menu-dropdown:hover {
        cursor: pointer;
    }

    .mobile-nav-menu {
        display:none;
    }



    .left-nav-content{
        display: flex;
        flex-direction: column;
        gap:5px;
        
    }

    #desktop-hero {
        display: none;
        z-index:-2;
    }

    .left-side-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    #desktop-hero-mobile {
        width: 100vw;
    }
    h1 {
        margin: 0;
    }
    p {
        margin: 0;
        display: flex;
        justify-content: center;

    }
    
    .left-side-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 60px;
        gap:20px;
    }
    
    #learn-more {
        width: 120px;
        padding: 9px 20px;
        border: 1px solid var(--Almost-Black);
        border-radius: 10px;
        background-color: var(--Almost-Black);
        color: var(--Almost-White);
    }
    
    #learn-more:hover {
        cursor: pointer;
    }
    #learn-more:active {
        background-color: var(--Almost-White);
        border: 1px solid var(--Almost-Black);
        color: var(--Almost-Black);
        transition: all 0.05s ease;
    }

    .sponsor-logos {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 15px;
        margin-top: 20px;
    }

    .features-dropdown {
        position: relative;
        display: inline-block;
    
    }
    .dropdown-contents-container {
        display: none;
    
    }
    #features {
        cursor: pointer;
    } 
    
    
    .dropdown-content {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding: 25px 20px;
      min-width: 100px;
    }
    
    .company-dropdown {
        position: relative;
        display: inline-block;
        
    
    }
    .company-dropdown-container {
        display: none;
    
    }
    #company {
        cursor: pointer;
        
    } 
    
    
    .company-dropdown-content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px 20px;
        min-width: 100px;
    }


    a {
      text-decoration: none;
      color: var(--Almost-Black);
    }

    li {
      text-decoration: none; 
      color: var(--Almost-Black);

    }
    #myDropdownContainer > a {
      font-size: 18px;
    }

    .menu-grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        
        width: 100%;
        position:absolute;
        height: 100vh;
        left: 0vw;
        top:0;

    }

    #transparent-left-hand-menu {
        background-color: rgba(0,0,0, 0.6);
    }

    .left-nav-content {
        padding-top: 70px;
        gap:25px;
        background-color: var(--Almost-White);
        text-decoration: none; 
        color: var(--Almost-Black);
        list-style-type: none;
  
    }
    #mobile-login {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
        
    }
    #mobile-login:hover {
        cursor: pointer;
    }

    #mobile-register {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--Almost-Black);
        padding: 9px 22px;
        border-radius: 10px;
        box-shadow: 0 5px 0 rgba(0, 0, 0, 0.8);
        margin-right: 40px;
    }

    #mobile-register:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
    }
    
    #mobile-register:active {
        transform: translateY(5px);
        transition: all 0.1s ease;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    #close-menu {
        width: 30px;
        position: absolute;
        top: 20px;
        right:20px;
        z-index: 1;
    }
}